.TeamRoom {
	border: 1px solid #eee;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px #ccc;
	text-align: left;
	padding: 5px;
	margin: 10px 5px;
	/* flex: 1; */
	min-width: 250px;
	max-width: 300px;
	flex-basis: 0;
	flex-grow: 1;
}
.RoomName {
	padding: 10px;
	color: #2882b4;
	font-weight: bold;
}
.OwnerName {
	padding: 10px;
	text-align: right;
	font-style: italic;
}
.ActionContainer {
	display: flex;
	flex-basis: 1;
	justify-content: space-between;
}
.Delete {
	display: inline-block;
	/* border: 1px solid #ccc; */
	border-radius: 50%;
	width: 20px;
	padding: 2px;
	cursor: pointer;
	color: #ccc;
	text-align: center;
	line-height: 27px;
	font-size: 16px;
}
.Delete:hover {
	color: orange;
	/* border: 1px solid orange; */
	/* box-shadow: 0 0 3px red; */
	font-weight: bold;
}
