.Toolbar {
	height: 56px;
	width: 100%;
	min-width: 350px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 8px #ccc;
}
.Toolbar nav {
	height: 100%;
}
.Logo {
	height: 80%;
}
.NameContainer {
	text-align: right;
	padding-right: 10px;
	box-sizing: border-box;
	color: orange;
	width: 100%;
}
.DisplayName {
	font-weight: bold;
	color: #3b97e0;
	font-size: 1.5rem;
}
@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}
@media only print {
	.Toolbar {
		display: none;
	}
}
@media (max-width: 800px) {
	.NameContainer {
		display: none;
	}
}
