.Home {
	/* background-color: #ccc; */
	color: rgb(90, 92, 93);
	height: 100%;
	text-align: center;
}
.Jumbotext {
	font-size: 48px;
	color: #2882b4;
	margin-bottom: 0;
	padding-bottom: 0;
}
.Subtitle {
	/* margin-top: -10px; */
	font-size: 20px;
	color: orange;
	margin-left: 120px;
}
.Logo {
	background-color: transparent;
	padding: 1px;
	height: 100%;
	box-sizing: border-box;
	/* border-radius: 5px; */
}
.Logo img {
	height: 100%;
}
.KshipaniContainer {
	height: 50px;
	text-transform: capitalize;
}
.KshipaniImage,
.KshipaniContainer img {
	height: 100%;
	width: auto;
	/* margin-top: 30px; */
}
@media (max-width: 500px) {
	.Home img {
		width: 80%;
		min-width: 200px;
	}
	.KshipaniContainer img {
		height: 100%;
		width: auto;
		min-width: auto;
		/* margin-top: 30px; */
	}
}
@media (max-width: 300px) {
	.Subtitle {
		display: none;
	}
}
