.Home {
	/* background-color: #ccc; */
	color: #000;
	height: 100%;
	text-align: center;
}
.Jumbotext {
	font-size: 48px;
}

.Logo {
	background-color: transparent;
	padding: 1px;
	height: 100%;
	box-sizing: border-box;
	/* border-radius: 5px; */
}
.Logo img {
	height: 100%;
}
@media (max-width: 500px) {
	.Home img {
		width: 80%;
		min-width: 200px;
	}
}
