.Reports {
	font-size: inherit;
	text-align: center;
	box-sizing: border-box;
}
.UpdatesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.PrintShow {
	display: none;
}
.PrintHide {
	display: block;
}
@media only print {
	.PrintShow {
		display: block;
	}
	.PrintHide {
		display: none;
	}
}
