.Input {
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
}
.Label {
	font-weight: bold;
	display: block;
	margin: 5px 0;
	text-align: left;
}
.InputElement {
	outline: none;
	color: #757575;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 4px;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input.InputElement[type='text'] {
	margin: 0px;
	height: 34px;
}
.InputElement:focus {
	outline: 0;
	/* background: #f3f3f3; */
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.InvalidElement,
.InvalidElement:focus {
	border-color: red;
	background-color: #fddd9b;
	box-shadow: inset 0 1px 1px rgba(201, 149, 149, 0.075), 0 0 8px rgba(240, 35, 8, 0.6);
}
